<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <meta name="Keywords" content="关键词,关键词">
    <meta name="description" content="">
    <link rel="stylesheet" href="../../static/css/admin/user.css">
    <link rel="stylesheet" href="../../static/css/admin/home.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js">
    </script>
</head>

<body>
    <div class="tz_content">
        <!--t_left start-->
        <div class="t_left">
            <div class="l_logo"></div>
            <div class="l_nav">
                <ul>
                    <li id="homeBar">
                        <a href="home.html">
                            <i class="icon_1"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li id="userBar">
                        <!-- 这种方法是很多网站最常用的方法，也是最周全的方法，
                            onclick方法负责执行js函数，而void是一个操作符，void(0)返回undefined，
                            地址不发生跳转。而且这种方法不会像第一种方法一样直接将js方法暴露在浏览器的状态栏。-->
                        <a href="javascript:void(0);" onclick="user()">
                            <i class="icon_1"></i>
                            <span>用户列表</span>
                        </a>
                    </li>

                    <li id="articleBar">
                        <a href="javascript:void(0);" onclick="article()">
                            <i class="icon_2"></i>
                            <span>文章列表</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!--t_left end-->

        <!--t_header start-->
        <div class="t_header">
            <!--h_nav start-->
            <div class="h_nav">
                <ul>
                    <li>
                        <a href="#" class="h_sel">
                            <i class="h_icon1"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="h_icon2"></i>
                            <span>界面管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="h_icon3"></i>
                            <span>栏目管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="h_icon4"></i>
                            <span>内容管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="h_icon5"></i>
                            <span>用户管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="h_icon6"></i>
                            <span>论坛中心</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="h_icon7"></i>
                            <span>应用中心</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="h_icon8"></i>
                            <span>工具</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--end h_nav-->

            <!--h_info start-->
            <div class="h_info">
                <div class="h_user">当前用户：Arry , 身份：系统管理员</div>
                <div class="h_out">
                    <a href="#">
                        <span>退出</span>
                        <i></i>
                    </a>
                </div>
            </div>
            <!--end h_info-->

        </div>
        <!--end t_header-->


        <!--t_right start-->
        <div class="t_right">

            <!--r_location start-->
            <div class="r_location">
                <i></i>
                <p>您当前所在位置：首页 > 后台中心</p>
            </div>
            <!--end r_location-->

            <!--r_message start-->
            <table class="yustb2" id="users">
                <tr>
                    <th>Number</th>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>PassWord</th>
                    <th>ArticleLibId</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Operate</th>
                </tr>
            </table>
            <!--end r_message-->

        </div>
        <!--end t_right-->

    </div>

    <script>
        $(function () {
            // 
            url = window.location.href;
            // 正则表达式
            var pattern = /(\w+).html/;
            let barName = pattern.exec(url)[1];
            console.log(document.getElementById(barName + "Bar").innerHTML);
            document.getElementById(barName + "Bar").className = "active";
            let xhr = new XMLHttpRequest()
            xhr.open('POST', 'http://localhost:18081//admin/allUsers')
            xhr.send()
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var returnMesg = JSON.parse(xhr.responseText);
                    if (returnMesg.flag === true) {
                        let num = returnMesg.data.length;
                        console.log(returnMesg);
                        for (let i = 0; i < num; i++) {
                            let status = "";
                            let type = "";
                            if (returnMesg.data[i]["status"] == true) {
                                status = "正常";
                            }
                            else if (returnMesg.data[i]["status"] == false) {
                                status = "冻结";
                            }
                            else {
                                status = "ERROR";
                            }
                            if (returnMesg.data[i]["type"] == true) {
                                type = "普通用户";
                            }
                            else if (returnMesg.data[i]["status"] == false) {
                                status = "管理员";
                            }
                            else {
                                status = "ERROR";
                            }
                            document.getElementById("users").innerHTML +=
                                "<tr>"
                                + "<td>" + ("%d", i+1) + "</td>"
                                + "<td>" + returnMesg.data[i]["id"] + "</td>"
                                + "<td>" + returnMesg.data[i]["name"] + "</td>"
                                + "<td>" + returnMesg.data[i]["passWord"] + "</td>"
                                + "<td>" + returnMesg.data[i]["articleLibId"] + "</td>"
                                + "<td>"
                                + "<select id = statusSelect" + ("%d>", i) + ">"
                                + '<option value="true">正常</option>'
                                + '<option value="false">冻结</option>'
                                + "</select>"
                                + "</td>"

                                + "<td>"
                                + "<select id = typeSelect" + ("%d", i) + ">"
                                + '<option value="true">普通用户</option>'
                                + '<option value="false">管理员</option>'
                                + "</select>"
                                + "</td>"

                                + "<td>"
                                + '<div>'
                                + '<button' + ' class="editButton"' + ' id=edit' + ("%d", i) + ' onclick="edit()">'
                                + '编辑'
                                + '<i></i>'
                                + '</button>'
                                + '</div>'

                                + '<div>'
                                + '<button' + ' class="deleteButton"' + ' id=delete' + ("%d", i) + ' onclick="Delete()">'
                                + '删除'
                                + '<i></i>'
                                + '</button>'
                                + '</div>'
                                + "</td>"

                                + "</tr>"
                        }
                    }
                }
            }
        }
        )
    </script>


    <script>
        function user() {
            window.location.href = "user.html";
        }
        function article() {
            window.location.href = "article.html";
        }
        function edit() {
            var pattern = /\d+/;
            let num = pattern.exec(event.target.id);
            if(document.getElementById("edit"+("%d",num)).innerText=="保存"){
                document.getElementById("statusSelect"+("%d",num)).style.pointerEvents="none";
                document.getElementById("typeSelect"+("%d",num)).style.pointerEvents="none";
                document.getElementById("edit"+("%d",num)).innerText="编辑";
                
            }
            else if(document.getElementById("edit"+("%d",num)).innerText=="编辑"){
                console.log(num);
                document.getElementById("statusSelect"+("%d",num)).style.pointerEvents="auto";
                document.getElementById("typeSelect"+("%d",num)).style.pointerEvents="auto";
                document.getElementById("edit"+("%d",num)).innerText="保存";
            }

        }
        function Delete() {
            console.log(event.target.id);
        }

    </script>
</body>

</html>